<div>
    <h2 class="products">
        Feminine
    </h2>

     <ul>
         <div class="row">
             {{#each products}}
                <div>
                <li class="d-inline">
                <div class="card" style="width: 18rem;">
                <img src="{{photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title text-black">{{product_name}}</h5>
                <p class="card-text text-black">${{price}}</p>
                <a href="/products" class="btn btn-primary" target="_blank">View Product</a>
                </div>
                </div>
            </li>
         </div>
        {{/each}}
         </div>
    </ul>
</div>

<div>
    <h2 class="products">
        Masculine
    </h2>

    <ul>
         <div class="row">
            {{#each maleProduct}}
            <div>
            <li class="d-inline">
            <div class="card" style="width: 18rem;">
            <img src="{{photo}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-black">{{product_name}}</h5>
            <p class="card-text text-black">${{price}}</p>
            <a href="/products" class="btn btn-primary" target="_blank">View Product</a>
            </div>
            </div>
            </li>
         </div>
        {{/each}}
         </div>
    </ul>
    
</div>